h1{
    text-align: center;
    color: aquamarine;
    border: 2px solid red;
    background-color: darkslateblue;
}
ul{
    text-decoration: brown;

}
p3{
font-family: 'Times New Roman', Times, serif;
font-style: italic;
font-weight: normal;
}
.self{
   color: darkslategrey;
   text-overflow: initial;
   

}
body{
    background-color: rosybrown;
}
img{
 float: inherit;
}
.aboutme{
    border-color: olive;
    color: papayawhip;
    font-size: large;
    text-transform: capitalize;
}
ul{
    color: dimgrey;
}

.interest{
    color: plum;
    text-shadow: magenta;
    font-size: large;
}
    

}
h3{
    text-align: left;
    color: maroon;

}